
/* a beautiful color combination from  ColorHunt*/
:root {
    --color1: #26355D;
    --color2: #AF47D2;
    --color3: #FF8F00;
    --color4: #FFDB00;

    /* to use it example => color: var(--color1); */
}

body {
    margin: 0px;
}

h1 {
    margin-top: 0px;
}

.main_container {
    position: relative;
    height: 600px;
    width: 600px;
}

.top_container {
    background-color: var(--color1);
    /* color: #b8cafa; */
    width: 200px;
    height: 200px;
    position: absolute;
}

.middle_container {
    width: 200px;
    height: 200px;
    background-color: var(--color2);
    position: absolute;
    left: 200px;
    top: 200px;
    
}

.bottom_container {
    width: 200px;
    height: 200px;
    background-color: var(--color3);
    position: absolute;
    left: 400px;
    top: 400px;
}

