
/* a beautiful color combination from  ColorHunt*/
:root {
    --color1: #26355D;
    --color2: #AF47D2;
    --color3: #FF8F00;
    --color4: #FFDB00;

    /* to use it example => color: var(--color1); */
}

body {
    margin: 0px; 
    text-align: center;
    font-family: "Merriweather", serif;
    color: #40514E;
}

span.pro {
    text-decoration: underline;
}

h1 {
    margin: 50px auto 0px;
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 20px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #11999E;
}

p {
    line-height: 2;
}

.top_cloud{
    position: absolute;
    top: 40px;
    right: 300px;
}
.bottom_cloud {
    position: absolute;
    right: 300px;
    left: 250px;
}

.top_container {
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
}

.intro {
    width: 30%;
    margin: auto;
}

.skill_roll {
    width: 50%;
    margin: auto 100px;
    text-align: left;
    line-height: 2;
}

#my_pic {
    border-radius: 50%;
    width: 25%;
}

#dev_pic {
    border-radius: 50%;
    width: 25%;
    margin-right: 30px;
    float: left;
}

#dev_pic2 {
    border-radius: 50%;
    width: 25%;
    margin-left: 30px;
    float: right;
}

a {
    color: #11999E;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

a.contact_me {
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 20px;
}

a.contact_me:hover {
    background-image: linear-gradient( #30E3CB, #2BC4AD);
}

hr {
    width: 4%;
    border: 6px dotted #EAF6F6;
    border-bottom: none;
    margin: 100px auto;
}

.middle_container {
    margin: 100px 0;
}

.contact_message {
    width: 40% auto;
    margin: 40px auto 60px;
}

.bottom_container {
    /* background-color: var(--color3); */
    padding: 50px 0 20px;
    background-image: linear-gradient( #66BFBF, #11999E);
}

.copyright_message {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

